python/venv/
python/tests/__pycache__/
*.old
java/.idea/
.DS_Store

*.log
scala/target/*
scala/test/*
*.icloud
dev_report_error_trace.txt
test_ttl/go_cams/should_fail/catalog-v001.xml
java/shex-schema.shex
java/report_file.txt
production_report.txt
production_report_error_trace.txt
report.txt
java/bin/report_file.txt
java/bin/reactome_validation.txt
java/report_file.txt
dev_report_error_trace.txt
java/report_file.txt
dev_report_error_trace.txt
